<h1> hello </h1>


<h1>Create a New User</h1>



<form action="/signup" method="POST">
  <label>Username:</label>

  <br></br>

  <input type="text" name= "Name" id= "Name">
  
    <label>Email:</label>

  <br></br>

  <input type="text" name= "Email" id= "Email">


  
    <label>Password:</label>

  <br></br>

  <input type="text" name= "Email" id= "Email">




  <input type="submit" value="Create User">

  

</form>
